.style {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
}

.img {
    width: 70%;
    height: 50%;
    position: relative;
    top: 25px;
}

.name{
    position: relative;
    top: 15px;
}

.nationality{
    position: relative;
    top: 10px;
}

.pop{
    position: relative;
    bottom: 4px;
    left: 3px;
}



.card {
    height: 350px;
    align-items: center;
    width: 280px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(36, 102, 0);
    background-image: url(\téléchargement.png);
    background-size: cover;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 5px 10px 0 #2e3033;
}